<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>Тренировка слов</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    
    <div class="container">
        <a th:href="@{/unit/{id}/modes(id=${unit.id})}" class="back-link">Назад к выбору режима</a>
        
        <div class="unit-info" th:data-unit-id="${unit.id}">
            <h2 th:text="${unit.name}">Название юнита</h2>
            <div class="progress-bar">
                <div class="progress" id="progressBar"></div>
            </div>
            <div class="score" id="score">0/0</div>
        </div>

        <div class="training-container">
            <div class="words-column english-column">
                <div id="englishWords" class="words-list"></div>
            </div>
            <div class="words-column russian-column">
                <div id="russianWords" class="words-list"></div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/settings-modal :: settings-modal}"></div>
    <script th:src="@{/js/speech.js}"></script>
    <script th:src="@{/js/training.js}"></script>
</body>
</html> 